.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: solid 1px $secondary-color;
  background-color: $background-color;
  align-items: center;

  &:hover {
    cursor: pointer;
    filter: brightness(1.25);
    transform: scale(1.025);
    transition: 300ms;
  }

  .imgSkeleton,
  img {
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    height: 500px;
    width: 100%;
    background-color: $secondary-color;
  }

  .title {
    font-size: 1.75rem;
    font-weight: 800;
  }

  .rating {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    > span {
      position: relative;
      top: -1px;
    }
  }

  .textSkeleton,
  .textContainer {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: calc(100% - 2 * 16px);
    gap: 16px;
  }

  .textSkeleton {
    > * {
      height: 1.75rem;
      width: 100%;
    }
  }

  @media (min-width: $mq-lg) {
    flex-direction: row;

    .imgSkeleton,
    img {
      min-width: 300px;
      max-width: 300px;
      border-radius: 16px 0 0 16px;
    }

    .textSkeleton {
      padding: 16px;
    }
  }
}
