// COLORS
$background-color: #0E0E0E;
$primary-color: #FFFFFF;
$secondary-color: #373737;
$tertiary-color: #444444;

// MEDIA QUERY
$mq-sm: 576px;
$mq-md: 768px;
$mq-lg: 992px;
$mq-xl: 1200px;
$mq-xxl: 2560px;