.skeleton {
  border-radius: 8px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: $secondary-color;
  }
  100% {
    background-color: $tertiary-color;
  }
}