.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: solid 1px $secondary-color;
  background-color: $background-color;
  align-items: center;

  &:hover {
    cursor: pointer;
    filter: brightness(1.25);
    transform: scale(1.025);
    transition: 300ms;
  }

  .imgSkeleton {
    border-radius: 16px 16px 0 0;
    height: 300px;
    width: 100%;
  }

  .textSkeleton {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: calc(100% - 2 * 16px);
    gap: 16px;
    > * {
      height: 28px;
      width: 100%;
    }
  }

  @media (min-width: $mq-lg) {
    flex-direction: row;

    .imgSkeleton {
      min-width: 225px;
      max-width: 225px;
      border-radius: 16px 0 0 16px;
    }

    .textSkeleton {
      padding: 16px;
    }
  }
}
